body {
	background-image: url(../images/cafe.jpg); /*Aqui esta la imagen de fondo*/
}

body, html {
height: 100%;
width: 100%;
margin: 0px;
padding: 0px;
}
#main {
height: 50%;
display: -webkit-flex;
display: flex;
flex-flow: row;
}
#main article {
background: #CA652F;
flex: 3 1 60%;
order: 3;
margin: 0px;
padding: 0px;
}
#main aside {
background: #CA982F;
flex: 1 3 150%;
order: 2;
margin: 0px;
padding: 0px;
}

.menu {
padding: 10px;
font-weight: 50;
font-size: 15px;
color: #ffffff;
background-color: #1883ba;
border-radius: 6px;
border: 10px solid #CA982F;
}

header {
display: block;
min-height: 10%;
background: #33CEFF;
margin: 0px;
padding: 0px;
background: url(../images/titulo.png) no-repeat;
}

footer {
display: block;
min-height: 250px;
background: #ca6f1e ;
margin: 0px;
padding: 0px;
}
